html {
    width: 100%;
    height: 100%;
}

body {
    /*position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;*/
    position: relative;
    /*padding-top: 10px;
  padding-bottom: 10px;*/
    /*padding: 10px;*/
    height: calc(100% - 0px);
    background: #BDE2A2;
    /*border: solid 3px green;*/
    /*text-align: center;
  vertical-align: middle;*/
    /*margin: 0px;*/
    /*min-height: 500px;
  min-width: 400px;*/
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
/*textarea {
  max-width: 280px;
  margin: 0px;
}*/
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#pMenu {
    /*width: 20%;
    height: 70%;*/
    /*display: inline-block;*/
    /*position:absolute;
    padding: 5px;*/
    /* margin:2px;*/
    /*font-size: 1vw;*/
    font-size: 12px;
    text-align: left;
    float: left;
    width: 250px;
    height: calc(100% - 110px);
}

#pMap {
    /*width: 37%;
    height: 90%;
    height: 400px;
    border: 3px solid black;
    left: 13%;
    display: inline-block;
    width: calc(100% - 250px);
    height: 100%;
    position: absolute;
    padding: 2px;
    margin:2px;
    bottom: 2%;
    top: 10%;
    right: 2%;
    z-index: 10;*/
}

.date {
    /*min-width: 2vw;
    font-size: 0.7vw;*/
    font-size: 12px;
}

.btn {
    width: 100%;
}

#pWorld {
    width: 100%;
    height: 100%;
    /*border: 1px red solid;*/
    position: relative;
    /*padding: 5px;*/
    /*margin:0px;*/
    min-height: 550px;
    min-width: 600px;
}

#dd {
    position: relative;
    /*left: 0%;
    right: 0%;*/
    width: 100% !important;
}

#dd2 {
    position: relative;
    /*left: 0%;
    right: 0%;*/
    width: 100% !important;
}

#date {
    width: 250px;
    height: 100px;
    clear: left;
    float: left;
    margin-top: 10px;
    /*width: 20%;
    height: 10%;*/
    /*left: 2%;
    right: 87%;
    bottom: 2%;
    top: 85%;
    display: inline-block;
    position:absolute;
    padding: 2px;*/
    /*margin:2px;*/
}

.dropdownButton {
    border: none;
    background-color: transparent;
}

.menuButton {
    background: none;
    color: white;
    border-radius: 25px;
    border: none;
}

    .menuButton:hover {
        background: #27c0e6;
    }

.timeButtons {
    /*font-size: 0.7vw;*/
    font-size: 14px;
}

.menu {
    background: #0F7DB8;
    color: white;
}

ul {
    list-style-type: none;
}

#dateTable {
    /*left: 50%;
    bottom:62%;*/
    left: 50px;
    bottom: 65px;
    position: absolute;
    color: white;
}

#simulationNumber {
    left: 50px;
    bottom: 20px;
    position: absolute;
}

.dateProgress {
    /*width: 80%;
    height: 5%;*/
    border: 1px solid black;
}

#progressBarSlider {
    height: 20px;
    background: #b4b6b6 !important;
    border: 1px solid black;
}

#custom-handle {
    width: 1em;
    height: 1.6em;
    top: 50%;
    margin-top: -.9em;
    border: none !important;
    background-color: #0a6494;
}

#custom-handle-locked {
    width: 0.6em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    background-color: #0a6494;
}

.ui-slider-mark {
    display: inline-block;
    background: white;
    height: 1.6em;
    position: absolute;
    margin-top: -.8em;
    top: 50%;
}

.ui-slider-range {
    background: #428bca !important;
}

.ui-slider {
    background: white !important;
}

#timeBarContainer {
    left: 50px;
    right: 5%;
    display: inline-block;
    position: absolute;
    z-index: 1000;
    padding: 2px;
    margin: 2px;
    bottom: 40px;
    height: 20px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0);
    border-radius: 5px;
}

#decisionInfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

input {
    text-align: center;
    margin: 5px;
}

.header {
    text-align: center;
}

.div1 {
    /*text-align: center;
    vertical-align: middle;*/
    position: absolute;
    background: #BDE2A2;
    /*transform: translateY(50%);*/
    top: 10%;
    bottom: 5%;
    left: 10%;
    right: 10%;
    /*border: solid 1px black;*/
    /*min-width: 500px;
    min-height: 300px;*/
    /*margin:  0 auto;*/
}

.div2 {
    /*width: 500px;
    height: 500px;*/
    position: absolute;
    /*top: 0%;*/
    /*bottom: 0%;*/
    left: 5%;
    right: 5%;
    /*transform: translateY(50%);*/
    /*border: solid 1px green;*/
    margin: 20px;
    text-align: center;
}

#worldIDInput {
    width: 200px;
    border: 3px grey solid;
}

#worldIDButton {
    width: 200px;
    border: 3px grey solid;
    background: grey;
    color: white;
}

.help {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    position: absolute;
    top: 80%;
    bottom: 10%;
    right: 20%;
    left: 20%;
    /*border: solid 1px blue;*/
}

@media (min-width: 1000px) { /*when window size is more than 1000px*/
    .idfail {
        font-size: 18px;
    }

    /*#pMenu {
        left: 2%;
        right: 87%;
        top: 10%;
        bottom: 15%;
    }*/
}

@media (max-width: 1200px) { /*when window size is less than 1000px*/
    #pMenu {
        /*font-size: 10px;
        left: 2%;
        right: 87%;
        top: 10%;
        bottom: 15%;*/
        width: 150px;
    }

    #date {
        width: 150px;
    }
    /*.date {
        font-size: 7px;
    }*/
    .timeButtons {
        font-size: 9px;
    }

    #dateTable {
        /*left: 5%;
        bottom: 62%;*/
        position: absolute;
    }

    #pMap {
        /*width: calc(100% - 150px);*/
    }
}

@media (max-width: 600px) { /*when window size is less than 600px*/
    .idfail {
        font-size: 12px;
    }

    .idmsg {
        font-size: 12px;
    }
}

.infoDiv {
    color: black;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 95%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

.idfail {
    background: #EF0F78;
    /*border: solid 1px black;*/
    /*text-align: center;*/
    /*padding: 20px;*/
}

.idmsg {
    background: #a9db84;
}

.idfailcontent {
    text-align: center;
    vertical-align: bottom;
    /*height: 80px;*/
    /*position: absolute;
    top: 30%;
    bottom: 30%;
    right: 0%;
    left: 0%;*/
    /*min-height: 40px;*/
}

a {
    color: grey;
}

#participantNameInput {
    width: 200px;
    border: 3px solid grey;
}

.participantButton {
    width: 200px;
    border: 3px solid grey;
    background: grey;
    color: white;
    margin-bottom: 10px;
}

#pincodeInput {
    width: 200px;
    border: 3px solid grey;
}

.participantInput {
    width: 200px;
    border: 3px solid grey;
}

#pincodeButton {
    width: 200px;
    border: 3px solid grey;
    background: grey;
    color: white;
}

.ui-front {
    z-index: 300;
}

h4 p {
    font-size: 12px;
}
/*img {
    padding: 3px;
}*/
.header {
    font-size: 1.5vw;
    text-align: center;
}

.dialogButton {
    width: 40%;
    height: 10%;
    border: hidden;
    background: #BDE2A2;
    color: white;
    position: absolute;
    left: 30%;
    bottom: 5%;
}

#welcomeDialog {
    text-align: center;
}

.ui-dialog {
    position: relative;
    padding: .2em;
    width: 300px;
    border: 2px solid white;
}

.dialogNoTitle .ui-dialog-titlebar {
    display: none;
}

.userinfo {
    padding: 2%;
    color: #777;
    font-size: 115%;
}

.bold {
    font-weight: bold;
}

#welcomeMessage {
    text-align: start;
    color: #777;
    padding: 2%;
}

#welcomeDialogDiv {
    max-height: 85%;
}

#onlineParticipants * {
    padding-left: 2px;
}

#offlineParticipants * {
    padding-left: 4px;
}

.dialogNoTitle {
    border-color: #777 !important;
}

.roledropdown {
    background-color: transparent;
    color: white;
    text-align: start !important;
}

.dropdownButton {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: start;
}

    .dropdownButton:hover {
        background-color: rgba(0,0,0,0.2)
    }

ul {
    padding-left: 0;
}

#accordionContainer {
    padding-top: 20px;
    max-height: 73vh;
}

#data {
    padding-left: 0;
}


#score {
    padding-left: 0;
}


.menuHeading {
    padding-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.otherDecProgress {
    height: 10px;
    margin: 5px;
}

.progressBar {
    margin-top: 6px;
    margin-bottom: 6px;
}

.progressUL {
    margin: 6px;
}

#accordionContainer .ui-accordion-content {
    width: 100%;
    background-color: #0F7DB8;
    border: none;
    color: white;
    font-size: 10pt;
    line-height: 16pt;
}

#accordionContainer .ui-accordion-header {
    background-color: #0a6494;
    border: none;
    color: white;
    margin: 0;
    font-size: medium;
}


.scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
}


.accordionContent {
    padding: 2% !important; /*Using important to override style from accordion */
}

#participants {
    max-height: 20vh;
    overflow:visible;
}

.style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #84a5b6;
    border-radius: 10px;
}

.style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #0F7DB8;
}

.style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #074566;
}

.style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #dfdfdf;
    border-radius: 10px;
}

.style-2::-webkit-scrollbar {
    width: 5px;
    background-color: #777;
}

.style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #aaa9a9;
}

.dropdown-menu {
    color: black;
}

.role-dropdown {
    position: relative;
    top: 10px;
}

.abcRioButton {
    /*For centering the google login button*/
    margin: 0 auto;
}

#facebookLoginBtn {
    margin: 1%;
}

#loginButtons {
    margin: 3%;
}

#worldsTable {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
}

#worldsTable thead {
        cursor: pointer;
        background: #a9db84;
}

#worldsTable thead tr th {
    font-weight: bold;
    padding: 12px 30px;
    padding-left: 42px;
}
#worldsTable thead tr th span {
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
#worldsTable thead tr th.tablesorter-headerDesc, #worldsTable thead tr th.tablesorter-headerAsc {
    border: solid;
    border-color: #84b162;
}
#worldsTable thead tr th.tablesorter-headerDesc span {
    background-image: url('../icons/arrow-up-b.png');
}
#worldsTable thead tr th.tablesorter-headerAsc div {
    background-image: url('../icons/arrow-down-b.png');
}
ï¿½#worldsTable tbody tr {
    color: #555;
}
#worldsTable tbody tr td {
    text-align: center;
    padding: 15px 10px;
}
#worldsTable tbody tr td.lalign {
    text-align: left;
}
/* pager wrapper, div */
.pager {
    padding: 5px;
}
/* pager wrapper, in thead/tfoot */
td.pager {
    background-color: #e6eeee;
    margin: 0; /* needed for bootstrap .pager gets a 18px bottom margin */
}
/* pager navigation arrows */
.pager img {
    vertical-align: middle;
    margin-right: 2px;
    cursor: pointer;
}

/* pager output text */
.pager .pagedisplay {
    padding: 0 5px 0 5px;
    width: 50px;
    text-align: center;
}

/* pager element reset (needed for bootstrap) */
.pager select {
    margin: 0;
    padding: 0;
}

/*** css used when "updateArrows" option is true ***/
/* the pager itself gets a disabled class when the number of rows is less than the size */
.pager.disabled {
    display: none;
}
/* hide or fade out pager arrows when the first or last row is visible */
.pager .disabled {
    /* visibility: hidden */
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: default;
}
.hide_button {
    display: none;
}
#infin_span {
    position: relative;
    top: .1em;
}