extends _layout

block content


 div.div1#mainDiv
      div.div2 
        h1 REEEMgame
        h3 Please log in to continue

        form(method='POST' action='#{path}/login')
            input(id='participantNameInput' type='text' name='userName' placeholder='Username' required)
            .br
            input(id="pincodeInput" type='password' name='password' placeholder='Password' required)
            .br
            input(type='hidden' name='worldID' value=worldID)
            button(class='participantButton' type='submit') Ok, go!
                    
      append content3  



  