doctype html

- var version = "Dev"

html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - ReeemGame
    script(src='/express-public' + version + '/javascripts/jquery-1.10.2.js')
    script(src='/express-public' + version + '/javascripts/bootstrap.js')
    script(crossorigin src="https://unpkg.com/react@16/umd/react.development.js")
    script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")
    //script(crossorigin src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js")
    
  body
    div#root2
    
    //script(type="text/babel").
    script(src="/express-publicDev/dist/reactBundle.js")
    //script(type="text/babel" src="../reactHW.jsx")