extends cognitoWorldID

block content2
  
  div.idfail.infoDiv
    div.idfailcontent We did not recognize that World ID. Please check and try again.
  script.
    $(() => {
      $("body").css('background', '#E8589B');
      $(".div1").css('background', '#E8589B');
      $( "#worldIDInput" ).css('border', '2px #EF0F78 solid');
    });
