extends _layout

block content
 div.div1#mainDiv
      div.div2 
        h2 ReeemGame
        h4 Please enter your username or email address and you will receive an email with a reset code
      
        form(method='POST' action='#{path}/sendResetPasswordCode')
            input(id='username' type='text' name='username' placeholder='Username')
            .br
            input(type='hidden' name='worldID' value=worldID)
            button(class='participantButton' type='submit') Reset password
        form(method='get' action='#{path}/')
            input(type='hidden' name='worldID' value=worldID)
            button(class='participantButton' type='submit') Back to login page
        

      append content3  


       script.
        $(() => {
          $("body").css('background', '#90D9E8');
          $(".div1").css('background', '#90D9E8');
        });
  