extends cognitoForgotPassword

block content3
    div.idfail.infoDiv
      div.idfailcontent #{msg} 
    script.
      $(() => {
        $("#bodylayout").css('background', '#E8589B');
        $("#mainDiv").css('background', '#E8589B');
        $("#username").val('#{username}');
      });