extends cognitoParticipantLogin

block content3
    div.infoDiv
      div.idfailcontent You have successfully been logged out of ReeemGame. Please note that if you signed in using Google or Facebook, you might still be signed in on those platforms.  
