extends cognitoResetPassword

block content2
  
  div.idfail.infoDiv
    div.idfailcontent #{msg}
    script.
     $(() => {
      $("body").css('background', '#E8589B');
      $(".div1").css('background', '#E8589B');
     });
