extends cognitoCreateUser

block content2
  div.idfail.infoDiv
    div.idfailcontent #{msg} 
  script.
    $(() => {
      $("#bodylayout").css('background', '#E8589B');
      $("#mainDiv").css('background', '#E8589B');
      $("#username").val('#{username}');
      $("#email").val('#{email}');
      $("#password").val('#{password}');
    });