extends _layout

block content
  
        h3 
          a(href='http://reeem.org') Visit Project Reeem 
        h3
          a(href='/game11') Play ReeemGame
        h3
          a(href='/game11/reeembrowser') Browse Reeem Pathways
        h3
          a(href='/game11/worlds') List of existing ReeemGame worlds