extends _layout
//facilitatorID
block content
   h2 Creating new World 
   form(method='POST' action='#{path}/facilitatorNewWorld')
      label(for='name') World Name: 
            input(type='text', name='newWorldName')
            input(type='hidden' name='facilitatorID' value=facilitatorID)
            input(type='hidden' value = facilitatorName name= 'facilitatorName')
            input(type='hidden' value = facilitatorPassword name= 'facilitatorPassword')
            button(type='submit') Create