extends participantPincode

block content3
  div.idfail 
    div.idfailcontent We did not recognize that PIN code. Please check and try again.
  script.
    $(() => {
      $("#bodylayout").css('background', '#E8589B');
      $("#div1pincode").css('background', '#E8589B');
      $( "#pincodeInput" ).css('border', '2px #EF0F78 solid');
      $( "#pincodeInput" ).on('focus', () => {
                 $( "#pincodeInput" ).val("");
                 });
    });